<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <record id="act_dtdream_hr_leaving" model="ir.actions.act_window">
            <field name="name">离职办理</field>
            <field name="res_model">leaving.handle</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>
        <record id="act_dtdream_process_process" model="ir.actions.act_window">
            <field name="name">离职办理并行环节</field>
            <field name="res_model">process.process</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree</field>
        </record>
        <record id="act_dtdream_process_approver" model="ir.actions.act_window">
            <field name="name">离职办理审批人配置</field>
            <field name="res_model">leaving.handle.approver</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem name="离职办理" sequence="10" id="dtdream_hr_leaving" parent="hr.menu_hr_root" action="act_dtdream_hr_leaving"></menuitem>
        <menuitem name="离职办理环节配置" sequence="15" id="dtdream_process_process" parent="hr.menu_human_resources_configuration" action="act_dtdream_process_process"></menuitem>
        <menuitem name="离职办理审批人配置" sequence="20" id="dtdream_process_approver" parent="hr.menu_human_resources_configuration" action="act_dtdream_process_approver"></menuitem>
    </data>
</openerp>