<openerp>
    <data>
        <record id="act_dtdream_hr_leaving" model="ir.actions.act_window">
            <field name="name">离职办理</field>
            <field name="res_model">leaving.handle</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem name="离职办理申请" sequence="10" id="dtdream_hr_leaving" parent="hr.menu_hr_root" action="act_dtdream_hr_leaving"></menuitem>
    </data>
</openerp>