<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <menuitem name="出差" id="menu_dtdream_travel_root"  icon="fa-user"
            web_icon="dtdream_travel,static/description/icon.png"/>
        <menuitem name="我的申请" id="menu_dtdream_travel_shenqing" parent="menu_dtdream_travel_root" sequence="12"
                  action="act_dtdream_travel_chucha_shenqing_01"/>

        <menuitem name="待我审批" id="menu_dtdream_travel_shenqing_wait" parent="menu_dtdream_travel_root" sequence="14"
                  action="act_dtdream_travel_chucha_shenqing_02"/>

        <menuitem name="我已审批" id="menu_dtdream_travel_shenqing_done" parent="menu_dtdream_travel_root" sequence="16"
                   action="act_dtdream_travel_chucha_shenqing_03"/>

        <menuitem name="所有单据" id="menu_dtdream_travel_shenqing_all" parent="menu_dtdream_travel_root" sequence="18"
                   action="act_dtdream_travel_chucha_shenqing_04"/>

        <menuitem name="报告" id="menu_dtdream_travel_shenqing_report" parent="menu_dtdream_travel_root" sequence="20"
                   action="act_dtdream_travel_chucha_shenqing_05" groups="base.group_hr_manager"/>
    </data>
</openerp>