.dtdream_weekly_report_tree table td:nth-child(1){width:9%}
.dtdream_weekly_report_tree table td:nth-child(2){width:9%}
.dtdream_weekly_report_tree table td:nth-child(3){width:9%}
.dtdream_weekly_report_tree table td:nth-child(4){width:9%}
.dtdream_weekly_report_tree table td:nth-child(5){width:9%}
.dtdream_weekly_report_tree table td:nth-child(6){width:7%}
.dtdream_weekly_report_tree table td:nth-child(7){width:9%}
.dtdream_weekly_report_tree table td:nth-child(8){width:10%}
.dtdream_weekly_report_tree table td:nth-child(9){width:28%;word-break:break-all}
.dtdream_zhuguan_zongjie_tree table td:nth-child(1){width:30%;word-break:break-all}
.dtdream_zhuguan_zongjie_tree table td:nth-child(2){width:35%;word-break:break-all}
.dtdream_zhuguan_zongjie_tree table td:nth-child(3){width:35%;word-break:break-all}
.dtdream_zhuguan_qiuzhu_tree table td:nth-child(1){width:60%;word-break:break-all}
.dtdream_zhuguan_qiuzhu_tree table td:nth-child(2){width:40%;word-break:break-all}
.pro_help_tree table th:nth-child(1){width:15%}
.pro_help_tree table th:nth-child(2){width:65%;word-break:break-all}
.pro_help_tree table th:nth-child(3){width:20%}
.visit_customer_tree table td:nth-child(7){width:20%;word-break:break-all}
.visit_customer_tree table td:nth-child(8){width:15%;word-break:break-all}
.visit_customer_tree table td:nth-child(9){width:15%;word-break:break-all}
.sale_channel_tree table td:nth-child(4){width:50%;word-break:break-all}
.competitor_situation_tree table td:nth-child(1){width:20%;word-break:break-all}
.competitor_situation_tree table td:nth-child(2){width:40%;word-break:break-all}
.competitor_situation_tree table td:nth-child(3){width:40%;word-break:break-all}
.next_sale_other_tree table td:nth-child(1){width:50%;word-break:break-all}
.next_sale_other_tree table td:nth-child(2){width:50%;word-break:break-all}

.customer_visit_plan_tree table td:nth-child(7){width:40%;word-break:break-all}
