.dtdream_tree_cls table td:nth-child(1){width:8%}
.dtdream_tree_cls table td:nth-child(2){width:8%}
.dtdream_tree_cls table td:nth-child(3){width:8%}
.dtdream_tree_cls table td:nth-child(4){width:8%}
.dtdream_tree_cls table td:nth-child(5){width:8%}
.dtdream_tree_cls table td:nth-child(6){width:8%}
.dtdream_tree_cls table td:nth-child(7){width:8%}
.dtdream_tree_cls table td:nth-child(8){width:8%}
.dtdream_tree_cls table td:nth-child(9){width:8%}
.dtdream_tree_cls table td:nth-child(10){width:12%}
.dtdream_tree_cls table td:nth-child(11){width:8%}
.dtdream_tree_cls table td:nth-child(12){width:8%}

.dtdream_tree_cls2 {text-align: left;position: relative;}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dtdream_tree_cls2 label{width:8%;text-align: left;margin-right:0 !important;}
.dtdream_tree_cls2 span{padding:5px;}
.dtdream_tree_cls2 span:nth-child(2){width:8%}
.dtdream_tree_cls2 span:nth-child(3){width:8%}
.dtdream_tree_cls2 span:nth-child(4){width:8%}
.dtdream_tree_cls2 span:nth-child(5){width:8%}
.dtdream_tree_cls2 span:nth-child(6){width:8%}
.dtdream_tree_cls2 span:nth-child(7){width:8%}
.dtdream_tree_cls2 span:nth-child(8){width:8%}
.dtdream_tree_cls2 span:nth-child(9){width:8%}
.dtdream_tree_cls2 span:nth-child(10){width:12%}
.dtdream_tree_cls2 span:nth-child(11){width:8%}
.dtdream_tree_cls2 span:nth-child(12){width:8%}

.dtdream_tree_cls2 input{border-bottom-style: none;padding: 5px;}
.dtdream_tree_cls2 input:nth-child(2){width:8%}
.dtdream_tree_cls2 input:nth-child(3){width:8%}
.dtdream_tree_cls2 input:nth-child(4){width:8%}
.dtdream_tree_cls2 input:nth-child(5){width:8%}
.dtdream_tree_cls2 input:nth-child(6){width:8%}
.dtdream_tree_cls2 input:nth-child(7){width:8%}
.dtdream_tree_cls2 input:nth-child(8){width:8%}
.dtdream_tree_cls2 input:nth-child(9){width:8%}
.dtdream_tree_cls2 input:nth-child(10){width:12%}
.dtdream_tree_cls2 input:nth-child(11){width:8%}
.dtdream_tree_cls2 input:nth-child(12){width:8%}

.dtdream_weekly_report_tree table td:nth-child(1){width:9%}
.dtdream_weekly_report_tree table td:nth-child(2){width:9%}
.dtdream_weekly_report_tree table td:nth-child(3){width:7%}
.dtdream_weekly_report_tree table td:nth-child(4){width:7%}
.dtdream_weekly_report_tree table td:nth-child(5){width:17%}
.dtdream_weekly_report_tree table td:nth-child(6){width:12%}
.dtdream_weekly_report_tree table td:nth-child(7){width:9%}
.dtdream_weekly_report_tree table td:nth-child(8){width:10%}
.dtdream_weekly_report_tree table td:nth-child(9){width:20%;word-break:break-all}
.dtdream_zhuguan_zongjie_tree table td:nth-child(1){width:30%;word-break:break-all}
.dtdream_zhuguan_zongjie_tree table td:nth-child(2){width:35%;word-break:break-all}
.dtdream_zhuguan_zongjie_tree table td:nth-child(3){width:35%;word-break:break-all}
.dtdream_zhuguan_qiuzhu_tree table td:nth-child(1){width:60%;word-break:break-all}
.dtdream_zhuguan_qiuzhu_tree table td:nth-child(2){width:40%;word-break:break-all}
.pro_help_tree table th:nth-child(1){width:15%}
.pro_help_tree table th:nth-child(2){width:65%;word-break:break-all}
.pro_help_tree table th:nth-child(3){width:20%}
.visit_customer_tree table td:nth-child(7){width:20%;word-break:break-all}
.visit_customer_tree table td:nth-child(8){width:15%;word-break:break-all}
.visit_customer_tree table td:nth-child(9){width:15%;word-break:break-all}
.sale_channel_tree table td:nth-child(4){width:50%;word-break:break-all}
.competitor_situation_tree table td:nth-child(1){width:20%;word-break:break-all}
.competitor_situation_tree table td:nth-child(2){width:40%;word-break:break-all}
.competitor_situation_tree table td:nth-child(3){width:40%;word-break:break-all}
.next_sale_other_tree table td:nth-child(1){width:50%;word-break:break-all}
.next_sale_other_tree table td:nth-child(2){width:50%;word-break:break-all}

.customer_visit_plan_tree table td:nth-child(7){width:40%;word-break:break-all}

.o_form_label.form_cls {
    width: 150px;
}


.weeklyReport_check {
    position: absolute;
    left: 16px;
}

.check_layer .form-group {
    margin-top: 30px;
    display: table;
    width: 100%;
}
.check_layer label{
    padding-left: 5%;
}
.check_layer .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.check_layer .check_input{
    position: relative;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: baseline;
    border-bottom: 1px solid #cfcfcf;
}
.check_layer .check_input_content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100px;
    flex: 1 0 100px;
    max-width: 100%;
    width: 100%;
    position: relative;
}
.check_layer .check_input_dropdown {
    position: relative;
}
.check_layer .check_send_name {
    display: inline-block;
    border: 0;
}
.check_layer i {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}
.check_layer .check_dropdown {
    display: none;
    margin-top: 2px;
}
.check_layer .check_dropdown_li {
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 0 10px;
}
.check_layer .check_input .badge {
    border: 0;
    background-color: #62b2e5;
    color: #fff;
    font-weight: 300;
}
.check_layer .check_input .badge .badge_text {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
}
.check_layer .check_input .badge .check_delete {
    cursor: pointer;
}
.check_layer .check_write {
    border-bottom: 0;
}
.check_layer .check_write textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}