* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dm .container > h6 {
  font-size: 18px;
  color: #4a4a4a;
  text-align: justify;
  font-weight: bold;
}
.dm {
  margin-top: 20px;
  width: 100%;
}
.dm a:hover {
  text-decoration: none;
}
.dm .container {
  width: 100%;
}
.dm .panelbox-blue {
  background: url("../img/dodo_IT1.png") no-repeat 90% 45%;
  background-color: #7e9fcc;
  padding: 10px 0 0 0;
}
.dm .panelbox-blue .dm-more {
  background-color: rgba(85, 114, 153, 0.4);
  padding: 8px 20px 8px 15px;
  color: #fff;
}
.dm .panelbox-red {
  background: url("../img/dodo_IT2.png") no-repeat 90% 45%;
  background-color: #cc7e7e;
  padding: 10px 0 0 0;
}
.dm .panelbox-red .dm-more {
  background-color: rgba(157, 95, 95, 0.4);
  padding: 8px 20px 8px 15px;
  color: #fff;
}
.dm .panelbox-green {
  background: url("../img/dodo_IT3.png") no-repeat 90% 45%;
  background-color: #21C09C;
  padding: 10px 0 0 0;
}
.dm .panelbox-green .dm-more {
  background-color: rgba(31, 155, 126, 0.4);
  padding: 8px 20px 8px 15px;
  color: #fff;
}
.dm .panel-footer h4 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 15px;
}
.dm .panel-footer .dm-t {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
  /*padding-bottom: 15px;*/
  padding-left: 15px;
  height: 55px;
}
.dm .panel-footer span {
  font-size: 14px;
}
.dm .panel-footer img {
  float: right;
}
.dm .state_normal {
  color: #76C470;
}
.dm .interval {
  margin-top: 20px;
}
.dm .bold {
  font-weight: bold;
}
.dm table tbody {
  border-bottom: 1px solid #ddd;
}
.dm .table > thead > tr > td,
.dm .table > tbody > tr > td {
  line-height: 1.42857143;
}
.dm .IT_table_tabs .nav-tabs {
  height: 4.325rem;
  line-height: 4.325rem;
  background-color: #F9FAFC;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 2.5rem;
}
.dm .IT_table_tabs .slider_li {
  height: 4rem;
}
.dm .IT_table_tabs .nav-tabs li a {
  width: 155px;
  padding-top: 13px;
  font-size: 1.5rem;
  color: #4a4a4a;
  text-align: center;
  border: 0;
  background-color: #F9FAFC;
  cursor: pointer;
}
.dm .IT_table_tabs .nav-tabs > li.active > a,
.dm .IT_table_tabs .nav-tabs > li.active > a:focus,
.dm .IT_table_tabs .nav-tabs > li.active > a:hover {
  font-weight: bold;
  border: 0;
  background-color: #F9FAFC;
}
.dm .IT_table_tabs .inline {
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00C1DE;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.dm .nopadding {
  padding-left: 0;
  padding-right: 0;
}
.dm .pager_select {
  width: 100%;
  overflow: hidden;
}
.dm .pager_select .btn {
  float: right;
  border-radius: 4px;
}
.dm .pager_select .previous {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dm .pager_select .next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dm .pager_select .btn-default {
  border: 1px solid #e0e0e0;
  color: #00C1DE;
}
.dm .pager_select .btn-default:focus {
  background-color: #fff;
  color: #00C1DE;
}
.dm .pager_select .btn-default:hover {
  background-color: #00C1DE;
  color: #fff;
}
.dm .pager_select .disabled {
  opacity: 1;
  background-color: #fff;
  color: #bfbfbf;
}
.dm .pager_select .disabled:hover {
  background-color: #fff;
  color: #bfbfbf;
}
.dm .pager_select .pager_number {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.dm .pager_select .pager_number li {
  color: #00C1DE;
  padding: 6px 12px;
  display: table-cell;
  border-right: 1px solid #e0e0e0;
}
.dm .pager_select .pager_number li.active {
  background-color: #00C1DE;
  color: #fff;
}
.dm .pager_select .pager_number li:last-child {
  border-right: 0;
}
.dm .pager_select .pager_number li:hover {
  background-color: #00C1DE;
  color: #fff;
  cursor: pointer;
}
.dm .pager_select p {
  float: right;
  height: 32px;
  line-height: 32px;
  margin-bottom: 0;
  margin-right: 10px;
}
@media screen and (min-width: 400px) and (max-width: 750px) {
  .dm .table-responsive table thead,
  .dm .table-responsive table tbody {
    font-size: 10px;
  }
}
