<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <menuitem name="客户接待" id="menu_dtdream_customer_reception_root" icon="fa-user"
                  web_icon="dtdream_customer_reception,static/description/icon.png"/>
        <menuitem name="我的申请" id="menu_dtdream_customer_mine" parent="menu_dtdream_customer_reception_root" sequence="12" action="act_dtdream_customer_reception_mine"/>
        <menuitem name="待我审批" id="menu_dtdream_customer_approve" parent="menu_dtdream_customer_reception_root" sequence="14" action="act_dtdream_customer_reception_approve"/>
        <menuitem name="所有单据" id="menu_dtdream_customer_all" parent="menu_dtdream_customer_reception_root" sequence="16" action="act_dtdream_customer_reception_all"/>
        <menuitem name="酒店餐饮管理" id="menu_dtdream_hotles_manage" parent="menu_dtdream_customer_reception_root" sequence="18"/>
        <menuitem name="酒店管理" id="menu_dtdream_hotles_room" parent="menu_dtdream_hotles_manage" sequence="10" action="act_dtdream_hotels_room"/>
        <menuitem name="餐饮管理" id="menu_dtdream_hotles_dinner" parent="menu_dtdream_hotles_manage" sequence="12" action="act_dtdream_hotels_dinner"/>
        <menuitem name="配置" id="menu_dtdream_customer_config" parent="menu_dtdream_customer_reception_root" sequence="20" groups="customer_reception_manage"/>
        <menuitem name="客户接待配置" id="menu_dtdream_customer_config_child" parent="menu_dtdream_customer_config" action="act_dtdream_customer_reception_config"/>
        <menuitem name="酒店区域配置" id="menu_dtdream_hotel_zone" parent="menu_dtdream_customer_config" action="act_dtdream_hotel_zone"/>
        <menuitem name="餐饮区域配置" id="menu_dtdream_dinner_zone" parent="menu_dtdream_customer_config" action="act_dtdream_dinner_zone"/>
    </data>
</openerp>