/*.o_form_statusbar{*/
    /*height : 37px*/
/*}*/
.dtdream_import{
    position : absolute;
    left : 68px;
    padding : 5px 10px;
    font-size : 12px;
    line-height : 1.5;
    color : #fff;
    background-color : #81c48f;
    border-color: #81c48f;
    cursor: pointer;
    top : 4px;
}
.o_touch_device .dtdream_import{
    position : absolute;
    left : 78px;
    padding : 7px 14px;
    margin : -2px 3px 2px 0;
    font-size : 13px;
    line-height : 1.5;
    color : #fff;
    background-color : #81c48f;
    border-color: #81c48f;
    cursor: pointer;
    top : 22px;

}

.dtdream_import:hover{
    color: #fff;
    background-color: #5eb470;
    border-color: #57b06a;
}

 .dtdream_download{
    position : absolute;
    left : 168px;
    padding : 5px 10px;
    font-size : 12px;
    line-height : 1.5;
    color : #fff;
    background-color : #81c48f;
    border-color: #81c48f;
    cursor: pointer;
    top : 4px;
}
.o_touch_device .dtdream_download{
    position : absolute;
    left : 192px;
    padding : 7px 14px;
    margin : -2px 3px 2px 0;
    font-size : 13px;
    line-height : 1.5;
    color : #fff;
    background-color : #81c48f;
    border-color: #81c48f;
    cursor: pointer;
    top : 22px;
}

.dtdream_download:hover{
    color: #fff;
    background-color: #5eb470;
    border-color: #57b06a;
}

.o_form_field {
    word-break: break-all;
}

.o_form_field_number {
    word-break: normal;
}

.apply_dis_sale_report table td:nth-child(1){width:8%}
.apply_dis_sale_report table td:nth-child(2){width:8%}
.apply_dis_sale_report table td:nth-child(3){width:8%}
.apply_dis_sale_report table td:nth-child(4){width:8%}
.apply_dis_sale_report table td:nth-child(5){width:5%}
.apply_dis_sale_report table td:nth-child(6){width:8%}
.apply_dis_sale_report table td:nth-child(7){width:8%}
.apply_dis_sale_report table td:nth-child(8){width:8%}
.apply_dis_sale_report table td:nth-child(9){width:8%}
.apply_dis_sale_report table td:nth-child(10){width:8%}
.apply_dis_sale_report table td:nth-child(11){width:8%}
.apply_dis_sale_report table td:nth-child(12){width:15%}