
.expense_catelog_tree .o_list_view.table td{
    word-break: break-all;
}
.expense_catelog.o_form_field{
    word-break: break-all;
}

.o_form_view .o_form_field_image .o_form_image_controls{
    opacity: 1;
    background-color: transparent;
    margin-top: -35px;
}
.o_form_view .o_form_field_image:hover .o_form_image_controls{
    opacity: 1;
}
.o_form_image_controls .o_select_file_button{
    background-color: #81c48f;
    padding:7px 15px;
    border-radius: 2px;
}
.o_form_image_controls .o_clear_file_button{
    background-color: #81c48f;
    padding:7px 15px;
    border-radius: 2px;
}
.o_form_image_controls .o_addsize_file_button{
    background-color: #81c48f;
    padding:7px 15px;
    border-radius: 2px;
}
.o_form_image_controls .o_reducesize_file_button{
    background-color: #81c48f;
    padding:7px 15px;
    border-radius: 2px;
}
.o_form_image_controls .o_rotate_file_button{
    background-color: #81c48f;
    padding:7px 15px;
    border-radius: 2px;
}
.o_form_view .oe_right .o_form_image_controls,.o_form_view .oe_avatar .o_form_image_controls{
    width:33px;
    height:76px;
    top:30px;
    left:-27px;
    bottom:-5px;
}
.o_form_view .oe_right .o_form_image_controls .o_select_file_button,.o_form_view .oe_avatar .o_form_image_controls .o_select_file_button{
    width:22px;
    padding:5px 5px;
    margin-bottom:15px;
}
.o_form_view .oe_right .o_form_image_controls .o_clear_file_button,.o_form_view .oe_avatar .o_form_image_controls .o_clear_file_button{
    width:22px;
    padding:5px 5px;
}