.o_form_view .o_form_statusbar>.o_statusbar_status.opp_stage>.o_arrow_button.disabled{
    cursor: pointer;
}

.o_form_view .o_form_statusbar>.o_statusbar_status.opp_stage .o-status-more>li>button{
    cursor: pointer;
}

.o_form_view .oe_button_box .btn.oe_stat_button.dtdream_info_btn{
    width : 156px;
}